<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head-base.ejs', {title: 'Crear visita'}) %>
        <link rel="stylesheet" href="/css/visita-detail.css" />
    </head>

    <body>
        <header><%- include('partials/header.ejs') %></header>

        <main>
            <h2 class="title">Crear relevamiento para "Camaras"</h2>

            <form action="/visitas" method="POST" enctype="multipart/form-data">
                <label for="chv">Chequear visualizacion</label><br />
                <select name="opcioneschvca" id="chv">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
                <br /><br />
                <label for="chv">Observaciones</label>
                <input type="text" name="obschvca" id="chv" />

                <label for="image">Fotos del area</label>
                <input accept="image/*"  type="file" name="image" multiple />
                <button type="submit" class="submit">
                    Agregar relevamiento
                </button>
            </form>
        </main>
    </body>
</html>
