<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('partials/head-base.ejs', {title: "App de Relevamiento"}) %>
    </head>
    <body>
        <header><%- include('partials/header.ejs') %></header>

        <main>
            <h1>Visualizar Visita</h1>
            <h2>
                <a href=""></a>
            </h2>
        </main>
    </body>
</html>
